<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/icon/logo.png" type="image/x-icon">

    <!--  bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- icon boostraps -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>


    

    <title> CCLEANER - Pembersih Sepatu Terbaik</title>

    <style>
      @import url('../static/css/default.css');
      @import url('../static/css/contact.css');
    </style>

    <script src="../static/js/contact.js"></script>
    <script>

    </script>

</head>
<body >
    <!-- navbar -->
    <nav>
      <div class="navigation"></div>
      <div class="logo">
        <h1>CCLEANER.ID</h1>
      </div>
      <div class="nav-list">
        <a href="/">Home</a>
        <a href="/shop">Shop</a>
        <a href="/contactus">Contact Us</a>
        <a href="/faq">FAQ</a></span>
      </div>
      <div class="cart">
        <a href="https://wa.me/81219504137" class="icon bi bi-whatsapp "></a>
      </div>
    </nav>

  <!-- section content - contact us -->
  <section id="contact"> 
    <div class="container" >
      
      
      <div class="col-md-4"></div> 
        
      
        <div class="row">
          <div class="col-md-8">
            <div class="contact-page-form" method="post">
              <img class="img-kontak" src="../static/img/contact_us_page/4.jpeg" /> 
              
              
              <form >
                <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="single-input-field">
                    <input type="text" id="name_title" placeholder="Your Name"/>
                  </div>
                </div>  
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="single-input-field">
                    <input type="email"  id="email_title" placeholder="E-mail"/>
                  </div>
                </div>                              
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="single-input-field">
                    <input type="text" id="number_phone" placeholder="Phone Number" />
                  </div>
                </div>  
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <div class="single-input-field">
                    <input type="text" id="subject" placeholder="Subject"/>
                  </div>
                </div>                
                <div class="col-md-12 message-input">
                  <div class="single-input-field">
                    <textarea id="message"  placeholder="Write Your Message"></textarea>
                  </div>
                </div>                                                
                
                <!-- <div class="single-input-fieldsbtn">
                  <input type="submit" name="submit" value="Send Now" onclick="openPopup(); return false;" />

                </div> -->
                <div class="wrapper2 single-input-fieldsbtn">
                  <button onclick="save()" type="button" class="btn btn-outline-dark btn-lg btn-hero" >Send Now</button>
                </div>
                <div class="popup" id="myPopup">
                  <div class="popup-content">
                    <h2>Pesan tersimpan </h2>
                    <p> Klik tombol "OK" untuk menutup.</p>
                    <button onclick="closePopup()">OK</button> 
                  </div>
                </div>
                      
              </div>
              </form> 
             
            </div> 
          </div>
        </div>
          
        
        <div class="row">
          <div class="col-md-4">
            <div class="contact-info">
              <div class="contact-info-item">
                <div class="contact-info-icon">
                <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_CEyvj2.json"  background="transparent"  speed="1"  style="justify-content: center; height: 52px;" loop  autoplay></lottie-player>
              </div>
                <div class="contact-info-text">
                  <div class="flex-row icon-faq"><i class="bi bi-geo-alt-fill"></i><h2>address</h2></div>
                  
                  <span>Jl.Jangkrik ll no 16 citeureup cimahi utara</span> 
                  <span>Kota cimahi</span> 
                </div>
              </div>            
            </div>          
          </div>          
          <div class="col-md-4">
            <div class="contact-info">
              <div class="contact-info-item">
                <div class="contact-info-icon">
                <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_8SdEu9.json"  background="transparent"  speed="1"  style="justify-content: center; height: 52px;" loop  autoplay></lottie-player>

                </div>
                <div class="contact-info-text">
                  <div class="flex-row icon-faq"><i style="color: green;" class="bi bi-whatsapp"></i><h2>Whatsapp</h2></div>
                  <span>+62 81219504137</span>
                </div>
              </div>            
            </div>                
          </div>                
          <div class="col-md-4">
            <div class="contact-info">
              <div class="contact-info-item">
                <div class="contact-info-icon">
                <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_nv5aXa.json"  background="transparent"  speed="1"  style="justify-content: center; height: 52px;" loop  autoplay></lottie-player>
                </div>
                <div class="contact-info-text">
                  <div class="flex-row icon-faq"><i class="bi bi-envelope-at-fill"></i><h2>Email</h2></div>
                  <span>cclenaer207@gmail.com</span>
                </div>
              </div> 
            </div>  
          </div> 
        </div> 
      </div>
    </div>
    
  </section>
  
  <div class="title1 flex-row wrapper" id="bottom" >
    <img src="../static/img/contact_us_page/maps1.jpg" alt="">
    <div class="desc1">
      <p>Find Cleaner Near You</p>
      <a href="#map-section"><button type="button" class="btn btn-outline-dark btn-faq">View All Location</button>                
      </a>

    </div>
  </div>
  <div class="title2 flex-row" id="bottom">
    <div class="desc2">
      <p>Please Visit Our FAQ’s Before Contacting Us </p>
      <a href="/faq"><button type="button" class="btn btn-outline-dark btn-faq">View All FAQ’s</button>                
      </a>

    </div>
    <img src="../static/img/contact_us_page/faq.jpg" alt="">
  </div>
    <div id="map-section" class="wrapper">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.2451923439003!2d107.55121697410569!3d-6.861190667125737!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e413a94949a1%3A0x799b319d05b196d!2sJl.%20Jangkrik%20II%20No.16%2C%20Citeureup%2C%20Kec.%20Cimahi%20Utara%2C%20Kota%20Cimahi%2C%20Jawa%20Barat%2040512!5e0!3m2!1sid!2sid!4v1716007019602!5m2!1sid!2sid" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

      <!-- footer -->
      <footer class="card text random2">
        <div class="card-body dalam-card flex-row">
          <div class="logo-footer">
            <p class="flex-col"><a href="/">CCLEANER</a></p>
            <p class="flex-col">MEMBUAT SEPATU TAMPAK SEPERTI BARU KEMBALI</p>
          </div>
          <div class=" random ">
            <p class="card-title"><a  href="/" class="link">HOME</a></p>
            <p class="card-text">Kelebihan Ccleaner</p>
            <p class="card-text">Prioritas kami</p>
            <p class="card-text">Galeri</p>
            <p class="card-text">Testimoni</p>  
          </div>
          <div class=" random">
            <p class="card-title"><a   href="/shop" class="link">SHOP</a></p>
            <p class="card-text">Produk</p>
            <p class="card-text">Cara penggunaan</p>
            <p class="card-text">Hasil</p>  
          </div>
          <div class="random">
            <p class="card-title"><a  href="/contactus" class="link">CONTACT US</a></p>
            <p class="card-text">Kirim pesan</p>
            <p class="card-text">Cek lokasi</p>  
          </div>
          <div class="random">
            <p class="card-title"><a  href="/faq" class="link">FAQ</a></p>
            <p class="card-text">Pertanyaan umum</p>  
          </div>
          <div class="right">
            <div class="contact flex-row" style="justify-content: flex-start;">
              <img src="../static/img/icon/icon-telp.png" alt="">
              <p><a href="tel:081219504137" class="link" >0812-1950-4137</a></p>  
            </div>
            <div class="contact flex-row" style="justify-content: flex-start;">
              <img src="../static/img/icon/icon-email.png" alt="">
              <p><a href="mailto:ccleaner207@gmail.com" class="link">ccleaner207@gmail.com</a></p>  
            </div>
            <div class="contact flex-row" style="justify-content: flex-start;">
              <img src="../static/img/icon/icon-wa.png" alt="">
              <p><a href="https://wa.me/81219504137" class="link" >+62 81219504137</a></p>  
            </div>
          </div>
        </div>
        <div class="card-footer text-body-secondary text-center copy">
          © Froshlass copyright
        </div>
      </footer>
  
  <!-- <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>   -->


  <script src="../static/js/default.js"></script>

    </body>


</html>