<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/icon/logo.png" type="image/x-icon">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- icon boostraps -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma-rtl.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <title> CCLEANER - Pembersih Sepatu Terbaik</title>
   
    <style>
    @import url('../static/css/default.css');
    @import url('../static/css/faq.css');
    </style>

</head>
<body>
    <!-- navbar -->
    <nav>
      <div class="navigation"></div>
      <div class="logo">
        <h1>CCLEANER.ID</h1>
      </div>
      <div class="nav-list">
        <a href="/">Home</a>
        <a href="/shop">Shop</a>
        <a href="/contactus">Contact Us</a>
        <a href="/faq">FAQ</a></span>
      </div>
      <div class="cart">
        <a href="https://wa.me/81219504137" class="icon bi bi-whatsapp "></a>
      </div>
    </nav>
  
<!-- section content - faq -->
<section>
    <h1 class="title">FAQ's</h1>

    <div class="question-container" id="bottom">
        <div class="question">
            <button>
                <span>Berapa harganya?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>Harganya mulai dari Rp 30.000 - 130.000</p>
        </div>

        <div class="question">
            <button>
                <span>Bagaimana peroses pencuciannya?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>
              1. Basahi terlebih dahulu sikat pembersih dianjurkan memakai sikat sepatu standar <br>
              2. Tuangkan Ccleaner Shoe Cleaner pada sikat pembersih yang sudah basah <br>
              3. Sikat sepatu dengan lembut <br>
              4. Lap bersih sepatu menggunakan kain <br>
              5. Ulangi dari langkah pertama apabila diperlukan sampai hasil meksimal <br>
              6. Keringkan/ anginkan sepatu agar tidak lembab <br>
            </p>
        </div>

        <div class="question">
            <button>
                <span>Apakah cocok untuk semua merek sepatu?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>Iya CCLEARNER ini cocok untuk semua merek sepatu</p>
        </div>

        <div class="question">
            <button>
                <span>Bisa tidak memperbaiki sepatu?</span>
                <i class="fas fa-chevron-down d-arrow"></i>
            </button>
            <p>Tidak CCLEARNER ini di gunakannya hanya utuk membersihkan sepatu</p>
        </div>
    </div>

    <div class="wrapper"></div>
</section >

      <!-- footer -->
      <footer class="card text random2">
        <div class="card-body dalam-card flex-row">
          <div class="logo-footer">
            <p class="flex-col"><a href="/">CCLEANER</a></p>
            <p class="flex-col">MEMBUAT SEPATU TAMPAK SEPERTI BARU KEMBALI</p>
          </div>
          <div class=" random ">
            <p class="card-title"><a  href="/" class="link">HOME</a></p>
            <p class="card-text">Kelebihan Ccleaner</p>
            <p class="card-text">Prioritas kami</p>
            <p class="card-text">Galeri</p>
            <p class="card-text">Testimoni</p>  
          </div>
          <div class=" random">
            <p class="card-title"><a   href="/shop" class="link">SHOP</a></p>
            <p class="card-text">Produk</p>
            <p class="card-text">Cara penggunaan</p>
            <p class="card-text">Hasil</p>  
          </div>
          <div class="random">
            <p class="card-title"><a  href="/contactus" class="link">CONTACT US</a></p>
            <p class="card-text">Kirim pesan</p>
            <p class="card-text">Cek lokasi</p>  
          </div>
          <div class="random">
            <p class="card-title"><a  href="/faq" class="link">FAQ</a></p>
            <p class="card-text">Pertanyaan umum</p>  
          </div>
          <div class="right">
            <div class="contact flex-row" style="justify-content: flex-start;">
              <img src="../static/img/icon/icon-telp.png" alt="">
              <p><a href="tel:081219504137" class="link" >0812-1950-4137</a></p>  
            </div>
            <div class="contact flex-row" style="justify-content: flex-start;">
              <img src="../static/img/icon/icon-email.png" alt="">
              <p><a href="mailto:ccleaner207@gmail.com" class="link">ccleaner207@gmail.com</a></p>  
            </div>
            <div class="contact flex-row" style="justify-content: flex-start;">
              <img src="../static/img/icon/icon-wa.png" alt="">
              <p><a href="https://wa.me/81219504137" class="link" >+62 81219504137</a></p>  
            </div>
          </div>
        </div>
        <div class="card-footer text-body-secondary text-center copy">
          <a style="color: white;" href="/login">© Froshlass copyright</span>
        </div>
      </footer>

<!-- external js-->
<script src="../static/js/faq.js"></script>
<script src="../static/js/default.js"></script>

</body>
</html>
