<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/img/icon/logo.png" type="image/x-icon">

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma-rtl.min.css">
    <!-- icon boostraps -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma-rtl.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <title> CCLEANER - Pembersih Sepatu Terbaik</title>
    
        <style>
            @import url('../static/css/default.css');
            @import url('../static/css/shop.css');
        </style>
    
</head>
<body>
    <!-- navbar -->
    <nav>
      <div class="navigation"></div>
      <div class="logo">
        <h1>CCLEANER.ID</h1>
      </div>
      <div class="nav-list">
        <a href="/">Home</a>
        <a href="/shop">Shop</a>
        <a href="/contactus">Contact Us</a>
        <a href="/faq">FAQ</a></span>
      </div>
      <div class="cart">
        <a href="https://wa.me/81219504137" class="icon bi bi-whatsapp "></a>
      </div>
    </nav>

      <!-- section hero - shop -->
      <section id="hero-shop" >
        <div class="hero"  style="background-image: url(../static/img/bg/bg-hero-shop.png ) ; background: cover;">
          <div class="hero-shop">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-lg-6">
                <h1 class="title-hero display-5 fw-bold text-body-emphasis lh-1 mb-3" id="right">MEMBUAT SEPATU TAMPAK SEPERTI <span style="color:#ff5b00 ; ">BARU KEMBALI</span>
                    </h1>
                <p class="lead" id="right">Fromula untuk sepatu, efektif untuk membersihkan kotoran secara menyeluruh</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <a href="#kategori"><button type="button" class="btn btn-outline-dark btn-hero">Kategori</button>                
                  </a>
                  <a href="#cara-pengguna"><button type="button" class="btn btn-outline-dark btn-hero">Cara penggunaan</button>                
                  </a>
                  <a href="#hasil"><button type="button" class="btn btn-outline-dark btn-hero">Hasil</button>                
                  </a>
                </div>
              </div>
              <div class="col-10 col-sm-8 col-lg-6 left img-hero-shop">
                <img src="../static/img/banner/img-hero-shop.png" class="d-block mx-lg-auto img-fluid " alt="Bootstrap Themes" width="451" height="451" loading="lazy">
              </div>
            </div>
          </div>
        </div>

        </div>
      </section>

      <!-- kategori -->
      <section id="kategori">
        <div class="kategori" style="background-image: url(../static/img/bg/backround-kategori.png);">
          <div class="">
            <div class="container ">
              <div class="title-shop">
                <p class="title-kategori" id="title-section">KATEGORI</p>
                <img src="../static/img/icon/line-kategori.png" alt="">
              </div>
              <div class="row align-items-start">
                <p class="isi-kategori">Pencuci</p>
                <div class="card-shop-content col-md-4">
                  <div class="card card-kategori" style="justify-content: center; width: 18rem; border: none;">
                    <img src="../static/img/product/1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title title-card">SABUN CUCI SEPATU premium shoe cleaner 500 ml</h5>
                      <p class="card-text">Rp. 46.100</p>
                      <div class="flex-row">
                        <a href="https://vt.tokopedia.com/t/ZSYLc2N4C/" class="btn btn-kategori" style="font-size: 14px;"><img src="../static/img/icon/logo-tiktok.png
                          " alt="">Tiktok</a>
                        <a href="https://vt.tokopedia.com/t/ZSYLc2N4C/" class="btn btn-kategori" style="font-size: 14px;"><img src="../static/img/icon/logo-tokped.png" alt="">Tokopedia</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-shop-content col-md-4">
                  <div class="card  card-kategori" style="align-items: center; width: 18rem; border: none;">
                    <img src="../static/img/product/2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title title-card">SABUN CUCI SEPATU premium shoe cleaner 250 ml</h5>
                      <p class="card-text">Rp. 33.500</p>
                      <div class="flex-row">
                        <a href="https://vt.tokopedia.com/t/ZSYLcdE7v/" class="btn btn-kategori " style="font-size: 14px;"><img src="../static/img/icon/logo-tiktok.png" alt="">Tiktok</a>
                        <a href="https://vt.tokopedia.com/t/ZSYLcdE7v/" class="btn btn-kategori " style="font-size: 14px;"><img src="../static/img/icon/logo-tokped.png" alt="">Tokopedia</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-shop-content col-md-4">
                  <div class="card  card-kategori" style="align-items: center; width: 18rem; border: none;">
                    <img src="../static/img/product/6.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title title-card">PROTECT YOUR SNEAKERS </h5>
                      <p class="card-text">Rp. 94.000</p>
                      <div class="flex-row">
                        <a href="https://vt.tokopedia.com/t/ZSYLcj97U/" class="btn btn-kategori " style="font-size: 14px;"><img src="../static/img/icon/logo-tiktok.png" alt="">Tiktok</a>
                        <a href="https://vt.tokopedia.com/t/ZSYLcj97U/" class="btn btn-kategori " style="font-size: 14px;"><img src="../static/img/icon/logo-tokped.png" alt="">Tokopedia</a>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="isi-kategori"  style="color: white;">Pembersih</p>
                  <div class="card-shop-content col-md-4">
                    <div class="card card-kategori" style="align-items: center; width: 18rem; border: none;">
                      <img src="../static/img/product/3.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title title-card">NANO FOAM premium cleaner shoe cleaner
                        </h5>
                        <p class="card-text">Rp. 42.500</p>
                        <div class="flex-row">
                          <a href="https://vt.tokopedia.com/t/ZSYLcMp5F/" class="btn btn-kategori " style="font-size: 14px;"><img src="../static/img/icon/logo-tiktok.png" alt="">Tiktok</a>
                          <a href="https://vt.tokopedia.com/t/ZSYLcMp5F/" class="btn btn-kategori " style="font-size: 14px;"><img src="../static/img/icon/logo-tokped.png" alt="">Tokopedia</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-shop-content col-md-4">
                    <div class="card  card-kategori" style="align-items: center; width: 18rem; border: none;">
                      <img src="../static/img/product/4.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title title-card">DEODORANT parfum premium spray BUBLEGUM 
                        </h5>
                        <p class="card-text">Rp. 31.000</p>
                        <div class="flex-row">
                          <a href="https://vt.tokopedia.com/t/ZSYLck7qv/" class="btn btn-kategori " style="font-size: 14px;"><img src="../static/img/icon/logo-tiktok.png" alt="">Tiktok</a>
                          <a href="https://vt.tokopedia.com/t/ZSYLck7qv/" class="btn btn-kategori " style="font-size: 14px;"><img src="../static/img/icon/logo-tokped.png" alt="">Tokopedia</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-shop-content col-md-4">
                    <div class="card  card-kategori" style="align-items: center; width: 18rem; border: none;">
                      <img src="../static/img/product/5.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title title-card">DEODORANT parfum permium spray LAVENDER FRESH </h5>
                        <p class="card-text">Rp. 32.000</p>
                        <div class="flex-row">
                          <a href="https://vt.tokopedia.com/t/ZSYLcUD87/" class="btn btn-kategori " style="font-size: 14px;"><img src="../static/img/icon/logo-tiktok.png" alt="">Tiktok</a>
                          <a href="https://vt.tokopedia.com/t/ZSYLcUD87/" class="btn btn-kategori " style="font-size: 14px;"><img src="../static/img/icon/logo-tokped.png" alt="">Tokopedia</a>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- section cara pengguna - shop -->
      <section id="cara-pengguna">
        <div class="title-shop">
          <p id="title-section">CARA PENGGUNAAN SABUN CUCI</p>
          <img src="../static/img/icon/line-cara.png" alt="">
        </div>
        <div class="cara-pengguna justify-content-center row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
              <img width="92" src="../static/img/icon/icon-1.png" alt="">
            </div>
            <h3 class="fs-2 text-body-emphasis">Pertama</h3>
            <p>Basahi terlebih dahulu sikat pembersih dianjurkan memakai sikat sepatu standar</p>
          </div>
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
              <img width="92" src="../static/img/icon/icon-2.png">
            </div>
            <h3 class="fs-2 text-body-emphasis">Kedua</h3>
            <p>Tuangkan Ccleaner Shoe Cleaner pada sikat pembersih yang sudah basah</p>
          </div>
          <div class=" feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
              <img width="92" src=../static/img/icon/icon-3.png alt="">
            </div>
            <h3 class="fs-2 text-body-emphasis">Ketiga</h3>
            <p>Sikat sepatu dengan lembut</p>
          </div>
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
              <img width="92" src=../static/img/icon/icon-4.png alt="">
            </div>
            <h3 class="fs-2 text-body-emphasis">Keempat</h3>
            <p> Lap bersih sepatu menggunakan kain
            </p>
          </div>
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
              <img width="92" src=../static/img/icon/icon-5.png alt="">
            </div>
            <h3 class="fs-2 text-body-emphasis">Kelima</h3>
            <p> Ulangi dari langkah pertama apabila diperlukan sampai hasil meksimal
            </p>
          </div>
          <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
              <img width="92" src=../static/img/icon/icon-6.png alt="">
            </div>
            <h3 class="fs-2 text-body-emphasis">Keenam</h3>
            <p>Keringkan/ anginkan sepatu agar tidak lembab</p>
          </div>
        </div>      
      </section>

      <!-- section hasil - shop -->
      <section id="hasil">
        <div class="hasil wrapper" style="background-image: url(../static/img/bg/bg-hasil.jpg);">
          <div class="hasil-2">
            <p id="title-section">HASIL YANG DIPEROLEH</p>
            <img style="margin-bottom: 50px;" src="../static/img/icon/line-hasil.png" alt="">
          </div>
          <div class="hasil-3 center">
            <img src="../static/img/banner/1.jpg" alt="">
            <img src="../static/img/banner/2.jpg" alt="">
            <img src="../static/img/banner/3.jpg" alt="">
          </div>
        </div>
      </section>


      <!-- footer -->
      <footer class="card text random2">
        <div class="card-body dalam-card flex-row">
          <div class="logo-footer">
            <p class="flex-col"><a href="/">CCLEANER</a></p>
            <p class="flex-col">MEMBUAT SEPATU TAMPAK SEPERTI BARU KEMBALI</p>
          </div>
          <div class=" random ">
            <p class="card-title"><a  href="/" class="link">HOME</a></p>
            <p class="card-text">Kelebihan Ccleaner</p>
            <p class="card-text">Prioritas kami</p>
            <p class="card-text">Galeri</p>
            <p class="card-text">Testimoni</p>  
          </div>
          <div class=" random">
            <p class="card-title"><a   href="/shop" class="link">SHOP</a></p>
            <p class="card-text">Produk</p>
            <p class="card-text">Cara penggunaan</p>
            <p class="card-text">Hasil</p>  
          </div>
          <div class="random">
            <p class="card-title"><a  href="/contactus" class="link">CONTACT US</a></p>
            <p class="card-text">Kirim pesan</p>
            <p class="card-text">Cek lokasi</p>  
          </div>
          <div class="random">
            <p class="card-title"><a  href="/faq" class="link">FAQ</a></p>
            <p class="card-text">Pertanyaan umum</p>  
          </div>
          <div class="right">
            <div class="contact flex-row" style="justify-content: flex-start;">
              <img src="../static/img/icon/icon-telp.png" alt="">
              <p><a href="tel:081219504137" class="link" >0812-1950-4137</a></p>  
            </div>
            <div class="contact flex-row" style="justify-content: flex-start;">
              <img src="../static/img/icon/icon-email.png" alt="">
              <p><a href="mailto:ccleaner207@gmail.com" class="link">ccleaner207@gmail.com</a></p>  
            </div>
            <div class="contact flex-row" style="justify-content: flex-start;">
              <img src="../static/img/icon/icon-wa.png" alt="">
              <p><a href="https://wa.me/81219504137" class="link" >+62 81219504137</a></p>  
            </div>
          </div>
        </div>
        <div class="card-footer text-body-secondary text-center copy">
          © Froshlass copyright
        </div>
      </footer>

      <!-- external js-->
<script src="../static/js/default.js"></script>


</body>
</html>